<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4 mx-4">
        <div class="card-body p-4">
          <h1><%= t(".title") -%></h1>
          <p class="text-medium-emphasis"><%= t(".register_description") -%></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <%= svg_icon('free.svg#cil-envelope-open', %w[icon]) %>
              </span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "form-control" %>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <%= svg_icon('free.svg#cil-lock-locked', %w[icon]) %>
              </span>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: t(".password_placeholder"), class: "form-control" %>
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">
                <%= svg_icon('free.svg#cil-lock-locked', %w[icon]) %>
              </span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('.repeat_password_placeholder'), class: "form-control" %>
            </div>
            <%= f.submit t(".create"), class: "btn btn-block btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
