<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <h2><%= t('.title') -%></h2>
        <div class="form-group mb-3">
          <label class="control-label"><%= t('user.new_password') -%>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> <%= t('user.characters_minimum') -%>)</em><br />
            <% end %>
          </label>
          <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control' %>
        </div>
        <div class="form-group mb-3">
          <label class="control-label"><%= t('user.confirm_new_password') -%></label>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        </div>
        <div class="form-group mb-3 btn-container">
          <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block') do %>
            <%= t('user.change_my_password') -%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
