<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <h1 class="float-start display-3 me-4"><%= t(".title") -%></h1>
        <h4 class="pt-3"><%= t(".forgot_description") -%></h4>
        <p class="text-medium-emphasis"><%= t(".instruction") -%></p>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="input-group">
          <span class="input-group-text">
            <%= svg_icon('free.svg#cil-envelope-open', %w[icon]) %>
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t(".placeholder_email"), class: "form-control", size: 16 %>
          <%= f.submit t(".send_reset_instruction"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
