<div class="sidebar sidebar-dark sidebar-fixed bg-dark-gradient <%= current_user&.sidebar_narrow? ? "sidebar-narrow-unfoldable" : "" -%>" id="sidebar" data-controller="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <%= link_to root_path, class: "text-reset text-decoration-none" do %>
      <svg alt="CoreUI Logo" class="sidebar-brand-full" height="46" width="118">
        <use xlink:href="<%= asset_path('coreui.svg#full') %>"></use>
      </svg>
    <% end %>
    <%= link_to root_path, class: "text-reset text-decoration-none" do %>
      <svg alt="CoreUI Logo" class="sidebar-brand-narrow" height="46" width="46">
        <use xlink:href="<%= asset_path('coreui.svg#signet') %>"></use>
      </svg>
    <% end %>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable" data-action="click->sidebar#click"></button>
  </div>
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    <%= nav_item(t('.dashboard'), root_path, 'free.svg#cil-speedometer') do %>
      <span class="badge bg-primary ms-auto">NEW</span>
    <% end %>

    <li class="nav-title"><%= t('user.account') -%></li>
    <li class="nav-group" data-controller='expender'
      data-expender-url-value='<%= account_ui_nav_group_items_path -%>'
      data-expender-loaded-value="<%= controller_name == 'profiles' -%>"
      class="<%= controller_name == 'profiles' ? 'show' : '' -%>">
      <a class="nav-link nav-group-toggle" data-action='expender#click'>
        <%= svg_icon('free.svg#cil-puzzle', 'nav-icon') %>
        <%= t('user.account') -%>
      </a>
      <ul class="nav-group-items" data-expender-target='htc'>
        <% if controller_name == 'profiles' %>
          <%= render partial: 'ui/nav_group_items/account', locals: {} %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
