<!DOCTYPE html>
<html>
  <head>
    <title>CoreuiProRailsStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <%= render "layouts/sidebars/#{@_sidebar_name}" unless @_sidebar_name.nil? %>
    <div class="<%= @_wrapper_class.join(" ") -%>">
      <%= yield %>
    </div>
  </body>
</html>
